pubs/docs/src/schemas/catalog.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://inca.sdsc.edu/dataModel/catalog_1.0"
	 targetNamespace = "http://inca.sdsc.edu/dataModel/catalog_1.0"
	 xmlns:inca = "http://inca.sdsc.edu/dataModel/util_2.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<xsd:import namespace = "http://inca.sdsc.edu/dataModel/util_2.0" schemaLocation = "file:///Users/phoover/Documents/Inca/source/pubs/docs/src/schemas/incaCommon.xsd"/>
	<xsd:element name = "catalog">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "package" type = "packageType" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "packageType">
		<xsd:sequence>
			<xsd:element name = "name" type = "xsd:string"/>
			<xsd:element name = "repository" type = "xsd:string"/>
			<xsd:element name = "uri" type = "xsd:string"/>
			<xsd:element name = "version" type = "xsd:string"/>
      <xsd:element name = "latestVersion" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "filename" type = "xsd:string"/>
			<xsd:element name = "installPath" type = "xsd:string"/>
			<xsd:element name = "permissions" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "dependencies" type = "dependenciesType" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "dependenciesType">
		<xsd:sequence>
			<xsd:element name = "dependency" type = "xsd:string" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
