pubs/docs/src/schemas/reportSummary.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
   targetNamespace = "http://inca.sdsc.edu/queryResult/reportSummary_2.0"
   xmlns:res = "http://inca.sdsc.edu/queryResult/reportSummary_2.0"
   xmlns:inca = "http://inca.sdsc.edu/dataModel/util_2.0"
   xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
   elementFormDefault = "unqualified">
  <import namespace = "http://inca.sdsc.edu/dataModel/util_2.0"/>
  <element name = "reportSummary">
    <complexType>
      <sequence>
        <element name = "hostname" type = "string"/>
        <element name = "targetHostname" type = "string" minOccurs="0"/>
        <element name = "uri" type = "string"/>
        <element name = "nickname" type = "string"/>
        <element name = "seriesConfigId" type = "long"/>
        <element name = "instanceId" type = "long" minOccurs = "0"/>
        <element name = "gmt" type = "dateTime" minOccurs = "0"/>
        <element name = "gmtExpires" type = "dateTime" minOccurs = "0"/>
        <element name = "body" type = "inca:anyXmlSequence" minOccurs = "0"/>
        <element name = "errorMessage" type = "string" minOccurs = "0"/>
        <element name = "comparisonResult" type = "string" minOccurs="0"/>
        <element name = "tags" type = "inca:tags" minOccurs = "0"/>
      </sequence>
    </complexType>
  </element>
</schema>
