pubs/docs/src/schemas/reporter_agent.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "resources">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "resource" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "resource">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "id"/>
				<xsd:element ref = "hostname" maxOccurs = "unbounded"/>
				<xsd:element ref = "attributes"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "id" type = "xsd:string"/>
	<xsd:element name = "hostname" type = "xsd:string"/>
	<xsd:element name = "config">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "resources"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "attributes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "attribute" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "attribute">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "id"/>
				<xsd:element ref = "value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "value" type = "xsd:string"/>
</xsd:schema>