pubs/docs/src/schemas/suite.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
        targetNamespace = "http://inca.sdsc.edu/dataModel/suite_2.0"
        xmlns:st = "http://inca.sdsc.edu/dataModel/suite_2.0"
        xmlns:inca = "http://inca.sdsc.edu/dataModel/util_2.0"
        xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
        elementFormDefault = "unqualified">
  <import namespace = "http://inca.sdsc.edu/dataModel/util_2.0"/>

  <element name = "suite" type="st:suite"/>
  <complexType name="suite">
    <sequence>
      <element name = "seriesConfigs">
        <complexType>
          <sequence>
            <element name = "seriesConfig" type = "inca:seriesConfig" minOccurs = "0" maxOccurs = "unbounded"/>
          </sequence>
        </complexType>
      </element>
      <element name = "name" type = "string" minOccurs = "0"/>
      <element name = "guid" type = "string"/>
      <element name = "description" type = "string" minOccurs = "0"/>
      <element name = "version" type = "integer" minOccurs = "0"/>
    </sequence>
  </complexType>
</schema>
