pubs/docs/src/schemas/suiteStages.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://inca.sdsc.edu/dataModel/suiteStages_2.0"
	 xmlns:ss = "http://inca.sdsc.edu/dataModel/suiteStages_2.0"
	 xmlns:inca = "http://inca.sdsc.edu/dataModel/util_2.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<import namespace = "http://inca.sdsc.edu/dataModel/util_2.0"/>
	<element name = "suiteStages">
		<complexType>
			<sequence>
				<element name = "multiResourceConfigs">
					<complexType>
						<sequence>
							<element name = "multiResourceConfig" type = "ss:multiResourceConfig" minOccurs = "0" maxOccurs = "unbounded"/>
						</sequence>
					</complexType>
				</element>
				<element name = "name" type = "string" minOccurs = "0"/>
				<element name = "guid" type = "string"/>
				<element name = "description" type = "string" minOccurs = "0"/>
				<element name = "version" type = "integer" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
	<complexType name = "multiResourceConfig">
		<sequence>
			<element name = "config" type = "inca:seriesConfig"/>
      <element name = "latestVersion" type = "boolean" minOccurs = "0"/>
			<element name = "perResourceConfigs">
				<complexType>
					<sequence>
						<element name = "config" type = "inca:seriesConfig" minOccurs = "0" maxOccurs = "unbounded"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
